In [7]:
import yfinance as yf
import pandas as pd

In [3]:
data = yf.download("SPY", start="2000-01-01", end="2023-03-01")

[*********************100%***********************]  1 of 1 completed

In [76]:
data.to_csv('spy500.csv', encoding='utf-8')

In [28]:
data.head

<bound method NDFrame.head of                   Open        High         Low       Close   Adj Close  \
Date
2000-01-03  148.250000  148.250000  143.875000  145.437500   94.946419
2000-01-04  143.531250  144.062500  139.640625  139.750000   91.233467
2000-01-05  139.937500  141.531250  137.250000  140.000000   91.396698
2000-01-06  139.625000  141.500000  137.750000  137.750000   89.927795
2000-01-07  140.312500  145.750000  140.062500  145.750000   95.150475
...                ...         ...         ...         ...         ...
2023-02-22  399.519989  401.130005  397.019989  398.540009  397.024750
2023-02-23  401.559998  402.200012  396.250000  400.660004  399.136688
2023-02-24  395.420013  397.250000  393.640015  396.380005  394.872955
2023-02-27  399.869995  401.290009  396.750000  397.730011  396.217834
2023-02-28  397.230011  399.279999  396.149994  396.260010  394.753418

               Volume
Date
2000-01-03    8164300
2000-01-04    8089800
2000-01-05   12177900
2000-01-06    6227200
2000-01-07    8066500
...               ...
2023-02-22   83742300
2023-02-23   96242400
2023-02-24  108194400
2023-02-27   80444700
2023-02-28   96438600

[5826 rows x 6 columns]>

In [11]:
dfaapl = pd.read_csv ('./data5empresas/aapl.csv')
dfamzn = pd.read_csv ('./data5empresas/amzn.csv')
dfmeta = pd.read_csv ('./data5empresas/meta.csv')
dfmsft = pd.read_csv ('./data5empresas/msft.csv')
dftsla = pd.read_csv ('./data5empresas/tsla.csv')

In [38]:
apple = dfaapl.drop(columns = ['Open','High','Low','Adj Close','Volume'])
amazon = dfamzn.drop(columns = ['Date','Open','High','Low','Adj Close','Volume'])
meta = dfmeta.drop(columns = ['Date','Open','High','Low','Adj Close','Volume'])
microsoft = dfmsft.drop(columns = ['Date','Open','High','Low','Adj Close','Volume'])
tesla = dftsla.drop(columns = ['Date','Open','High','Low','Adj Close','Volume'])

In [47]:
apple.rename(columns={'Date': 'Fecha'},inplace=True)
apple.rename(columns={'Close': 'Apple'},inplace=True)
amazon.rename(columns={'Close': 'Amazon'},inplace=True)
meta.rename(columns={'Close': 'Meta'},inplace=True)
microsoft.rename(columns={'Close': 'Microsoft'},inplace=True)
tesla.rename(columns={'Close': 'Tesla'},inplace=True)

In [49]:
### concatenar 
dfCompleto=pd.concat([apple,amazon,meta,tesla, microsoft], axis=1)

In [74]:
dfCompleto.to_csv('completo.csv', encoding='utf-8')

In [75]:
dfCompleto

           Fecha       Apple     Amazon        Meta       Tesla   Microsoft
0     2019-01-02   39.480000  76.956497  135.679993   20.674667  101.120003
1     2019-01-03   35.547501  75.014000  131.740005   20.024000   97.400002
2     2019-01-04   37.064999  78.769501  137.949997   21.179333  101.930000
3     2019-01-07   36.982498  81.475502  138.050003   22.330667  102.059998
4     2019-01-08   37.687500  82.829002  142.529999   22.356667  102.800003
...          ...         ...        ...         ...         ...         ...
1042  2023-02-22  148.910004  95.790001  171.119995  200.860001  251.509995
1043  2023-02-23  149.399994  95.820000  172.039993  202.070007  254.770004
1044  2023-02-24  146.710007  93.500000  170.389999  196.880005  249.220001
1045  2023-02-27  147.919998  93.760002  169.539993  207.630005  250.160004
1046  2023-02-28  147.410004  94.230003  174.940002  205.710007  249.419998

[1047 rows x 6 columns]

In [66]:
print(dfCompleto['Apple'].mean())
print(dfCompleto['Apple'].median())
print(dfCompleto['Apple'].mode())

111.95781749663404
125.3499984741211
0    145.860001
Name: Apple, dtype: float64

In [67]:
print(dfCompleto['Amazon'].mean())
print(dfCompleto['Amazon'].median())
print(dfCompleto['Amazon'].mode())

127.99395266644935
123.6999969482422
0     81.820000
1     90.233002
2     90.391998
3     92.765999
4     94.129997
5     96.050003
6    100.550003
7    152.601501
8    166.100006
9    170.000000
Name: Amazon, dtype: float64

In [68]:
print(dfCompleto['Tesla'].mean())
print(dfCompleto['Tesla'].median())
print(dfCompleto['Tesla'].mode())

159.58670170919714
182.4499969482422
0     14.641333
1     16.900000
2     21.148001
3    194.699997
4    238.210007
5    288.089996
Name: Tesla, dtype: float64

In [69]:
print(dfCompleto['Meta'].mean())
print(dfCompleto['Apple'].median())
print(dfCompleto['Apple'].mode())

226.7173926891775
125.3499984741211
0    145.860001
Name: Apple, dtype: float64

In [70]:
print(dfCompleto['Microsoft'].mean())
print(dfCompleto['Microsoft'].median())
print(dfCompleto['Microsoft'].mode())

218.15378215684134
226.5800018310547
0     102.800003
1     136.270004
2     137.520004
3     137.779999
4     138.119995
5     138.429993
6     138.899994
7     139.100006
8     157.410004
9     183.630005
10    184.910004
11    202.539993
12    208.250000
13    213.020004
14    214.250000
15    219.660004
16    232.899994
17    234.240005
18    235.770004
19    236.479996
20    244.490005
21    247.399994
22    252.509995
23    253.250000
24    254.080002
25    276.440002
26    290.730011
27    294.850006
28    299.500000
Name: Microsoft, dtype: float64